:root {
  --primary-clr-900: 231 42% 28%;
  --primary-clr-400: 220 43% 97%;

  --secondary-clr-500: 230 61% 90%;
  --secondary-clr-400: 230 34% 46%;

  --tertiary-clr-500: 360 81% 85%;
  --tertiary-clr-400: 133 46% 71%;

  --fs-700: 2.5rem;
  --fs-600: 2.25rem;
  --fs-500: 2rem;
  --fs-450: 1.25rem;
  --fs-400: 1rem;

  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;

  font-family: "Karla", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Box sizing rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margin, padding and font-size */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Allow percentage-based heights in the application */
html,
body {
  font-weight: var(--fw-700);
  height: 100%;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: hsl(var(--primary-clr-400));
  color: hsl(var(--primary-clr-900));
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a.nav-links {
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* #root,
.quiz-container {
  height: 100%;
} */

.quiz-container {
  --vertical-spacing: 2rem;
  display: grid;
  gap: var(--vertical-spacing);
  padding: 5rem 10rem;
}

.quizzical {
  place-self: center;
}

h1 {
  font-size: var(--fs-700);
}

.start-quiz-btn {
  font-weight: var(--fw-500);
  background-color: hsl(var(--secondary-clr-400));
  color: hsl(var(--primary-clr-400));
  padding: 0.75em 3em;
  border: none;
  border-radius: 15px;
}

.start-quiz-btn:hover {
  scale: 1.05;
  box-shadow: 0 0 1.5rem hsl(var(--secondary-clr-400) / 0.75);
  transition: scale 500ms ease-in-out, box-shadow 1000ms ease-in-out;
}

.score-section {
  place-self: center;
  display: flex;
  gap: calc(var(--vertical-spacing) - 1rem);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message-txt {
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
}
.score-checker_btn {
  font-size: var(--fs-450);
  max-width: 18rem;
  padding: 0.75em 3em;
  border: none;
  border-radius: 15px;
  color: hsl(var(--primary-clr-400));
  background-color: hsl(var(--secondary-clr-400));
}

.quiz {
  border-bottom: 2px solid #dbdef0;
  padding: var(--vertical-spacing);
}

.quiz-question {
  line-height: 1.1875;
  font-weight: var(--fw-700);
  font-size: var(--fs-500);
  margin-bottom: calc(var(--vertical-spacing) - 0.5rem);
}

.quiz-answers {
  display: flex;
  gap: 3rem;
}

.quiz-answer {
  padding: 0.5em 1em;
  min-width: 8.125rem;
  min-height: 2.625rem;
  border-radius: 8px;
  background-color: inherit;
  color: hsl(var(--secondary-clr-400));
  border: 2px solid hsl(var(--secondary-clr-400));
}
.quiz .correct {
  background-color: hsl(var(--tertiary-clr-400)) !important;
  border-color: hsl(var(--tertiary-clr-400));
}
.quiz .incorrect {
  background-color: hsl(var(--tertiary-clr-500));
  border-color: hsl(var(--tertiary-clr-500));
}

.quiz .active {
  background-color: hsl(var(--secondary-clr-500));
  border-color: hsl(var(--secondary-clr-500));
}

.quiz :is(.active, .correct, .incorrect) {
  scale: 1.05;
  transition: border-color 500ms linear, background-color 500ms ease-in-out,
    scale 1000ms ease;
}
